{% extends 'ongeo/base.html' %}

{% block content %}
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="ong text-info mt-5">What is On-Geo Manager</h1>

        <p class="text-white mt-3">
            On-Geo Manager web application that connects people in an organisation and restricts access to some of the
            information or resources based on their geographical location. It automatically checks in the in atendants and sends the information to the database if they are within the area linmits.
        </p>
    </div>
    <div class="col-md-2"></div>

</div>

{% endblock %}