{%extends "ongeo/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="out-of-bound text-center text-danger">
        <h3 class="out-of-bound text-center mt-2 text-danger" id="outb"></h3>

    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="card-b bg-info ">

                <div class="card bg-info">
                    <div class="card-header">
                        <h3 class="text-center text-white">In Attendance Form</h3>
                    </div>

                    <div class="card-body">
                        <ol class="" id="inattendance">

                            </0l>

                    </div>
                </div>

            </div>



        </div>
        <div class="col-md-6">

        </div>


    </div>
</div>

{% endblock %}