{% extends 'ongeo/base2.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="profile-shell">
    <div class="profile-panel">
        <div class="profile-header">
            <img class="profile-avatar" src="{{ user.profile.profile_pic.url }}" id="prof-pic"
                alt="{{ user.username }} profile picture">
            <div>
                <p class="section-kicker nvs">Account settings</p>
                <h1 class="ong profile-title">{{ user.username }}</h1>
                <p class="profile-subtitle">{{ user.email }}</p>
            </div>
        </div>

        <form action="" method="POST" enctype="multipart/form-data" class="profile-form">
            {% csrf_token %}
            <fieldset>
                <legend class="nvs">Update your profile</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>

            <button type="submit" class="btn profile-submit nvs" id="update">
                <i class="fas fa-save"></i>
                Save profile
            </button>
        </form>
    </div>
</section>
{% endblock %}
