body{
    background-image:url(../media/bg06.jpg);
}


.overlay{
    background-color: rgba(0, 0, 0, 0.74);
    height:300vh;
    margin-top:0px;
}
.welcam{
    padding-top: calc(50vh - 150px);
    font-family: 'Spirax', cursive;
    font-size:80px;
  }

.ong{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
}
.nvs{
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
}
.out-of-bound{
    margin-top:20px;
}
.card-b{
display:none;
}
.out-of-bound{
    padding-top: calc(5vh - 2vh);
    font-size:40px;
}